# Backup files
*~

# Build Folder
bin/
build/

#latex junk
doc/*.aux
doc/*.log
doc/*.pdf
doc/*.toc

# GITHUB STANDARD C BELOW

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#c++

# Compiled Object files
*.slo
*.lo

# Compiled Static libraries
*.lai
*.la

#java

*.class

# Package Files #
*.jar
*.war
*.ear

# SublimeText project files
*.sublime-workspace

#python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject